<div class=content>
	<div>
		<form action="/advance" name="monster" method="post">
			<span>
			{{#if monster}}
				<h2>{{monster}}</h2>
			{{else}}
				<h2>No monster selected</h2>
			{{/if}}
			<input name="q" type="search" placeholder="Search">
			<input type="submit" name="submit" value="Go">
			</span>
		</form>
		<form action="/advance" name="options" method="post">
			{{#if options}}
				<p>{{options}}</p>
			{{else}}
				{{#if monster}}
					<p>Original</p>
				{{else}}
					<p>No customization options selected</p>
				{{/if}}
			{{/if}}
			<input type="submit" name="submit" value="Customize">
		</form>
	</div>
	<div>
		{{#if stats}}
			{{stats}}
		{{else}}
			<p>Please select a monster</p>
		{{/if}}
	</div>
</div>