<div class="row">
	<div class="col-12">
		<form action={{postTo}} name="monster" method="post">
			<div class="formrow">
				<h2 class="item-left" id="monster-name">
					{{#if monster}}
						{{monster}}
					{{else}}
						No monster selected
					{{/if}}
				</h2>
				<div class="searchbox" id="monster-search">
					<input class="search" name="q" type="search" placeholder="Search">
					<input class="button" type="submit" name="submit" value="Go">
				</div>
			</div>
			<div class="formrow">
				<p class="item-left">
					{{#if options}}
						{{options}}
					{{else}}
						{{#if monster}}
							Original
						{{else}}
							No customization
						{{/if}}
					{{/if}}
				</p>
				<input class="button" type="submit" name="submit" value="Customize">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-12" id="advance-stats">
		{{#if stats}}
			{{>monster}}
		{{else}}
			<p>Please select a monster</p>
		{{/if}}
	</div>
</div>